#scrollable-outter-div {
    /* width: 50%; */
    height: 93vh;

    border: solid 3px white;

    background: rgb(255, 247, 247);

    overflow-y: scroll;
    overflow-x: hidden;
    
}

#scrollable-outter-div::-webkit-scrollbar {
    display: none;
}

.rc-rsrc-fy-div {
    cursor: pointer;
}

.for-you-recommendation-outter-container {
    margin-top: 7px;
    margin-bottom: 7px;

    padding: 7px;
}