label#post-comments-files-label {
    background: rgb(255, 208, 232);
    
    cursor: pointer;
    border: solid 3px rgb(255, 208, 232);
}

input {
    display: block;
}

input#post-comments-files {
    display: none;
}

div#media-preview-comment-on-post {
    max-height: 50vh;
}