.post-content-image {
    height: 40vh;
}

.post-content-video {
    height: 30vh;
}

div#add-new-post-button {
    cursor: pointer;
}

div#add-new-post-form-container {
    display: none;
    position: fixed;

    z-index: 19;

    width: 310px;

    top: 2vh;
    left: 35vw;

    background: rgb(255, 223, 239);

    border: solid 2px rgb(117, 246, 255);
    border-radius: 2px;
}

div#media-preview-post {
    max-height: 50vh;
}

div#add-new-post-form-container span {
    cursor: pointer;
}

div#text-content-input-comment-on-object {
    width: 300px;
    height: 200px;

    background: #fff6f6;

    border: none;
    outline: none;
    text-align: justify;
}

.post-profile-image {
    height: 47.3px;
    border-radius: 50%;
}

.show-posts {
    background-color: rgba(255, 196, 206, 0.5);
    margin: 0;
}

.post-on-feed-container {
    position: relative;

    background-color: ivory;

    margin: 4.7px;
    padding: 13.7px;

    border-radius: 1px;
}

.button-post-options {
    position: absolute;
    top: 7.23px;
    right: 7.23px;

    background: none;
    outline: none;

    border: 0;
    margin: 0;

    cursor: pointer;

    align-items: center;
}

.icon-post-options {
    width: 20px;
    height: 20px;
}

.post-options {
    display: none;

    position: fixed;

    top: 40vh;
    left: 35vw;

    /* height: 20vh; */
    width: 30vw;

    border: solid 1px salmon;
    background-color: rgb(252, 250, 249);

    z-index: 19;
}

.aux-background-div {
    display: none;

    background: none;
    margin: 0;
    border: 0;
    padding: 0;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    z-index: 13;
}

.single-option-div {
    cursor: pointer;

    padding: 7.23px;

    /* height: 13.7px; */
}

.single-option-div:hover {
    background-color: rgb(253, 235, 227);
}

.star-and-arrow-div {
    position: relative;

    display: inline;
}

.arrow {
    position: absolute;
    top: 8.2px;
    left: 1.4px;
}
