button.rtstr-button {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;

    outline: none;
}

.rtstr-hstr {
    width: 21px;
    height: 21px;
    padding: 0;
}

div.rtn-div > div, div.mdzdsld {
    display: flex;
    justify-content: center;
}