@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    position: relative;
    
    margin: 0;
    border: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Quicksand', sans-serif;
    color: rgb(109, 0, 0);

    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;

    z-index: 1;
}

html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

input {
    outline-color: rgb(200, 170, 170);
}

*::-webkit-scrollbar {
    display: none;
}

.loading-icon-outter-container {
    display: flex;

    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100%;
}

.loading-icon-outter-container img {
    min-height: 30px;
    height: calc(9vh + 11vw);
    min-width: 30px;
    width: calc(9vh + 11vw);
}
